#ifndef CONFIG_H
#define CONFIG_H

// Comment this to disable debug logs 
#define DEBUG 1

#define WIFI_SSID "ssid"
#define WIFI_PASSWORD "password"

#define RELAY_HOST "192.168.0.10"
#define RELAY_PORT 7070

// Actuators and assessors config

// First pin of the keypad, others must be aligned like this: n, n+2, n+4...
#define PIN_KEYPAD_BEGIN 25

#endif  // CONFIG_H